<!-- <h1>Home Component</h1>
<div>
  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <label>Name: </label>
    <input formControlName="name" type="text" placeholder="enter name" />
    <br />
    <br />
    <label>Name: </label>
    <input formControlName="email" type="email" placeholder="enter email" />
    <br />
    <br />
    <label>Name: </label>
    <input
      formControlName="password"
      type="password"
      placeholder="enter password"
    />
    <br />
    <br />
    <button type="submit">Submit</button>
  </form>
</div> -->
<!-- <h1>Angular Web Socket</h1>

<img [src]="isImageOneVisible ? 'assets/img/developer-with-ai-generated-free-png.webp' : 'assets/img/product01.png'"
  alt="Conditional Image" class="moveImage"> -->




<h1>Angular Crypto Example</h1>



<div>
  <h2>Crypto Example</h2>
  <input [(ngModel)]="data" placeholder="Enter data" />
  <button (click)="encryptData()">Encrypt</button>
  <button (click)="decryptData()">Decrypt</button>
  <p>Encrypted: {{ encryptedData }}</p>
  <p>Decrypted: {{ decryptedData }}</p>
</div>


<router-outlet></router-outlet>