<!-- <h1>Home Component</h1>
<div>
  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <label>Name: </label>
    <input formControlName="name" type="text" placeholder="enter name" />
    <br />
    <br />
    <label>Name: </label>
    <input formControlName="email" type="email" placeholder="enter email" />
    <br />
    <br />
    <label>Name: </label>
    <input
      formControlName="password"
      type="password"
      placeholder="enter password"
    />
    <br />
    <br />
    <button type="submit">Submit</button>
  </form>
</div> -->
<router-outlet></router-outlet>